<a href="https://colab.research.google.com/github/tejaschaudhari2811/FIRE_Project_Task_1/blob/main/FIRE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1 : Message Level Sentiment Analysis for Tamil Language

In [1]:
import pandas as pd
import re

In [2]:
from google.colab import files
uploaded = files.upload()

Saving tamil_offensive_train.tsv to tamil_offensive_train.tsv

In [79]:
df = pd.read_table("tamil_offensive_train.tsv")

In [80]:
df['category'].unique()

array(['NOT', 'OFF', 'not-Tamil'], dtype=object)

In [81]:
# Define Polarities for numeric classification
polarities={'NOT':1, "OFF":-1,"not-Tamil":0}

In [82]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5880 entries, 0 to 5879
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5880 non-null   object
 1   text      5880 non-null   object
 2   category  5880 non-null   object
dtypes: object(3)
memory usage: 137.9+ KB
None

In [83]:
df.isnull().sum()

id          0
text        0
category    0
dtype: int64

In [84]:
df.groupby(by=['category']).count()

             id  text
category
NOT        4724  4724
OFF        1153  1153
not-Tamil     3     3

In [85]:
# Supplementary Functions
def convert_polarity(category):
    return polarities[category]

def word_length(sentence):
    return len(sentence.split(" "))

In [86]:
df['polarity'] = df['category'].apply(convert_polarity)
df['text_length'] = df['text'].apply(len)
df['number_of_words'] = df['text'].apply(word_length)

In [87]:
df.head()

     id  ... number_of_words
0  tam1  ...               8
1  tam2  ...              12
2  tam3  ...               7
3  tam4  ...              13
4  tam5  ...               6

[5 rows x 6 columns]

In [88]:
df = df.drop(df[df.polarity == 0].index)

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [90]:
tfidf = TfidfVectorizer(max_features=5000)

In [91]:
# Get the data from Dataframe.
X = df['text']
y = df['polarity']

# Convert data to vectors
X = tfidf.fit_transform(X)

In [92]:
# Split The Data
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [93]:
# Create an alias for the classifier
clf = LinearSVC()

In [94]:
# Train the classifier.
clf.fit(X_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [95]:
# Get Predictions
y_pred = clf.predict(X_test)

In [96]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          -1       0.48      0.33      0.39       210
           1       0.86      0.92      0.89       966

    accuracy                           0.82      1176
   macro avg       0.67      0.63      0.64      1176
weighted avg       0.79      0.82      0.80      1176

# Using Logistic Regression for Classification

In [97]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [98]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          -1       0.58      0.20      0.30       210
           1       0.85      0.97      0.90       966

    accuracy                           0.83      1176
   macro avg       0.71      0.58      0.60      1176
weighted avg       0.80      0.83      0.80      1176